<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tiantong.dao.AddressDao">
    <!-- 当数据库中的字段信息与对象的属性不一致时需要通过resultMap来映射 -->
     <resultMap type="Address" id="AddressList">
	     <id property="id" column="id"></id>
	     <result property="ssmc" column="SSMC"></result>
	     <result property="qxmc" column="QXMC"></result>
     </resultMap>
   
  
    <!-- 查询所有 -->
	   <select id="findAllAddress" resultMap="AddressList">
			select id,SSMC,QXMC from address
	   </select>
   
   <!--获得总记录数  -->
       <select id="getTotal" resultType="int">
         SELECT COUNT(1) AS COUNT FROM address
       </select>
       
   <!--分页查询信息  -->
        <select id="findByPage" resultMap="AddressList">
           select id,SSMC,QXMC from address
              LIMIT #{start},#{pageSize}
        </select>
        
   <!--新增地址   -->
 <insert id="addAddress" parameterType="Address">
       insert into address (SSMC,QXMC) values (#{ssmc},#{qxmc})
   </insert> 
    
   
   <!-- 根据id查找地址信息 -->
   <select id="findAddressById" resultType="Address">
		select id,SSMC,QXMC from address where ID = #{id}
   </select>
  
   <!--修改地址  -->
   <update id="updateAddress" parameterType="Address">
		update address 
		<set>
		  <if test="ssmc!=null">SSMC = #{ssmc},</if>
		  <if test="qxmc!=null">QXMC = #{qxmc},</if>
		</set> 
		WHERE id = #{id}
	</update>

   <!-- 删除地区 -->
<delete id="delAddress" parameterType="int">
       delete from address where id = #{id}
   </delete>
   
   
   <!-- 查询所有省市名称下面的区县名称 -->
  <select id="findAllQxmc" resultType="Address">
     select QXMC from address where ssmc = #{ssmc}
  </select>
  
   <!-- 查询所有省市名称 -->
  <select id="findAllSsmc" resultMap="AddressList">
     select  distinct SSMC from address
  </select>
   <!-- 根据省市名称查询对应的ID -->
   <select id="findIdBySSMC" resultType="Address">
     SELECT id,ssmc,qxmc FROM address WHERE ssmc=#{ssmc} AND qxmc=#{qxmc};
  </select>
</mapper>